# ------------------------------------------------------------ #
# MySQL Connection
# ------------------------------------------------------------ #
MYSQL_PW=<PASSWORD>
# ------------------------------------------------------------ #
# DB2 Connection
# ------------------------------------------------------------ #
DSN_HOSTNAME=<HOSTNAME>
DSN_UID=<USER>
DSN_PWD=<PASSWORD>
DSN_PORT=<PORT>
DSN_DATABASE=<DB_NAME>
# ------------------------------------------------------------ #
# Airflow DAGs
# ------------------------------------------------------------ #
DAG_PATH=<PATH>:/opt/airflow/dags